<form class="flexcol {{cssClass}}" autocomplete="off">
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-main-container">
            <div class="resource health">
                <div class="resource-box">
                    <span>{{systemData.health.value}} / {{systemData.health.max}}</span>
                </div>
                <label>Health</label>
                <input type="number" name="system.health.value" value="{{systemData.health.value}}" class="hidden-input" />
                <input type="number" name="system.health.max" value="{{systemData.health.max}}" class="hidden-input" />
            </div>

            <div class="portrait-container">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>

            <div class="resource stress">
                <div class="resource-box">
                    <span>{{systemData.stress.value}} / {{systemData.stress.max}}</span>
                </div>
                <label>Stress</label>
                <input type="number" name="system.stress.value" value="{{systemData.stress.value}}" class="hidden-input" />
                <input type="number" name="system.stress.max" value="{{systemData.stress.max}}" class="hidden-input" />
            </div>
        </div>

        <div class="header-bottom-container">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="header-domain">
                <input type="text" name="system.chosenDomains.domain-one" value="{{systemData.chosenDomains.domain-one}}"
                    placeholder="Tier X" />
                <input type="text" name="system.chosenDomains.domain-two" value="{{systemData.chosenDomains.domain-two}}"
                    placeholder="Solo" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="defenses">
                <div class="armorslots">
                    <label>Armor Slots</label>
                    <div class="values">
                        <div class="resource-group">
                            <input type="number" name="system.defenses.armor-slots.value"
                                value="{{systemData.defenses.armor-slots.value}}" />
                            <a class="trait-effects">Used</a>
                        </div>
                        <div class="resource-group">
                            <input type="number" name="system.defenses.armor-slots.max"
                                value="{{systemData.defenses.armor-slots.max}}" />
                            <a class="trait-effects">Max</a>
                        </div>
                    </div>
                </div>
                <div class="defense" data-trait="armor">
                    <input type="number" name="system.defenses.armor.value"
                        value="{{systemData.defenses.armor.value}}" />
                    <label for="system.defenses.armor.value">Armor</label>
                </div>
                <div class="defense" data-trait="evasion">
                    <input type="number" name="system.defenses.evasion.value"
                        value="{{systemData.defenses.evasion.value}}" />
                    <label for="system.defenses.evasion.value">Difficulty</label>
                </div>
                <div class="armorslots">
                    <!-- Reusing armorslots for threshold for styling -->
                    <label>threshold</label>
                    <div class="values">
                        <div class="resource-group">
                            <input type="number" name="system.threshold.major"
                                value="{{systemData.threshold.major}}" />
                            <a class="trait-effects">Major</a>
                        </div>
                        <div class="resource-group">
                            <input type="number" name="system.threshold.severe"
                                value="{{systemData.threshold.severe}}" />
                            <a class="trait-effects">Severe</a>
                        </div>
                    </div>
                </div>
            </div>
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
