<form class="flexcol {{cssClass}}" autocomplete="off">
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-main-container">
            <div class="resource health">
                <div class="resource-box">
                    <input type="text" name="system.health.value" value="{{systemData.health.value}}" />
                    <span class="sep">/</span>
                    <input type="text" name="system.health.max" value="{{systemData.health.max}}" />
                </div>
                <label>Health</label>
            </div>

            <div class="portrait-container">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            </div>

            <div class="resource stress">
                <div class="resource-box">
                    <input type="text" name="system.stress.value" value="{{systemData.stress.value}}" />
                    <span class="sep">/</span>
                    <input type="text" name="system.stress.max" value="{{systemData.stress.max}}" />
                </div>
                <label>Stress</label>
            </div>
        </div>

        <div class="header-bottom-container">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="header-domain">
                <input type="text" name="system.chosenDomains.domain-one" value="{{systemData.chosenDomains.domain-one}}"
                    placeholder="Tier X" />
                <input type="text" name="system.chosenDomains.domain-two" value="{{systemData.chosenDomains.domain-two}}"
                    placeholder="Solo" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="defenses">
                <div class="weapon-group">
                    <div class="weapon-row">
                        <label class="weapon-label">Primary Weapon</label>
                        <div class="weapon-box click-rollable-group basic-rollable-group">
                            <div class="weapon-box-inner">
                                <div class="weapon-infobox-first">
                                    <input class="weapon-field basic-rollable-name click-rollable-name"
                                        name="system.weapon-main.name" type="text"
                                        value="{{systemData.weapon-main.name}}" placeholder="Attack" />
                                        <div class="textarea-container">
                                            <input class="trait-effects resize-ta" name="system.weapon-main.description"
                                                placeholder="Attack Traits Here"
                                                value="{{systemData.weapon-main.description}}" />
                                        </div>
                                </div>
                                <div class="weapon-roller-box">
                                    <div class="weapon-infobox">
                                        <input class="weapon-to-hit click-rollable-modifier"
                                            name="system.weapon-main.to-hit" type="number"
                                            value="{{systemData.weapon-main.to-hit}}" placeholder="2" />
                                        <a class="trait-effects click-rollable">Modifier</a>
                                    </div>
                                    <div class="weapon-infobox">
                                        <input class="weapon-damage basic-rollable-value"
                                            name="system.weapon-main.damage" type="text"
                                            value="{{systemData.weapon-main.damage}}" placeholder="1d8" />
                                        <a class="trait-effects basic-rollable">Damage</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--<div class="armorslots" style="display: none;">
                    <label>Armor Slots</label>
                    <div class="values">
                        <div class="resource-group">
                            <input type="number" name="system.defenses.armor-slots.value"
                                value="{{systemData.defenses.armor-slots.value}}" />
                            <a class="trait-effects">Used</a>
                        </div>
                        <div class="resource-group">
                            <input type="number" name="system.defenses.armor-slots.max"
                                value="{{systemData.defenses.armor-slots.max}}" />
                            <a class="trait-effects">Max</a>
                        </div>
                    </div>
                </div>
                <div class="defense" data-trait="armor" style="display: none;">
                    <input type="number" name="system.defenses.armor.value"
                        value="{{systemData.defenses.armor.value}}" />
                    <label for="system.defenses.armor.value">Armor</label>
                </div>-->
                <div class="defense" data-trait="evasion">
                    <input type="number" name="system.defenses.evasion.value"
                        value="{{systemData.defenses.evasion.value}}" />
                    <label for="system.defenses.evasion.value">Difficulty</label>
                </div>
                <div class="armorslots">
                    <!-- Reusing armorslots for threshold for styling -->
                    <label>threshold</label>
                    <div class="values">
                        <div class="resource-group">
                            <input type="number" name="system.threshold.major"
                                value="{{systemData.threshold.major}}" />
                            <a class="trait-effects">Major</a>
                        </div>
                        <div class="resource-group">
                            <input type="number" name="system.threshold.severe"
                                value="{{systemData.threshold.severe}}" />
                            <a class="trait-effects">Severe</a>
                        </div>
                    </div>
                </div>
            </div>
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
