<form class="flexcol {{cssClass}}" autocomplete="off">
    
    <div class="item-bg" style="background-image: url('{{data.img}}');"></div>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-top-container">
            <div class="charlevel">
                <input type="number" name="system.level.value" value="{{systemData.level.value}}" />
                <a>Level</a>
            </div>
            <div class="charlevel">
                <input type="number" name="system.proficiency.value" value="{{systemData.proficiency.value}}" />
                <a>Prof.</a>
            </div>
        </div>

        <div class="header-main-container">
            <div class="resource health">
                <div class="resource-box">
                    <input type="text" name="system.health.value" value="{{systemData.health.value}}" />
                    <span class="sep">/</span>
                    <input type="text" name="system.health.max" value="{{systemData.health.max}}" />
                </div>
                <label>Health</label>
            </div>

            <div class="portrait-container">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                <div class="resource hope">
                    <div class="resource-box">
                        <input type="text" name="system.hope.value" value="{{systemData.hope.value}}" />
                        <span class="sep">/</span>
                        <input type="text" name="system.hope.max" value="{{systemData.hope.max}}" />
                    </div>
                    <label>Hope</label>
                </div>
            </div>

            <div class="resource stress">
                <div class="resource-box">
                    <input type="text" name="system.stress.value" value="{{systemData.stress.value}}" />
                    <span class="sep">/</span>
                    <input type="text" name="system.stress.max" value="{{systemData.stress.max}}" />
                </div>
                <label>Stress</label>
            </div>
        </div>

        <div class="header-bottom-container">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="header-domain">
                <input type="text" name="system.chosenDomains.domain-one" value="{{systemData.chosenDomains.domain-one}}"
                    placeholder="Ancestry" />
                <input type="text" name="system.chosenDomains.domain-two" value="{{systemData.chosenDomains.domain-two}}"
                    placeholder="Class" />
            </div>
        </div>
    </header>
    
    {{!-- Sheet Tab Navigation --}}
    <!-- CASE SENSITIVE! -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="character">Character</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <div class="nav-gem"></div>
        <a class="item" data-tab="loadout">Loadout</a>
        <a class="item" data-tab="biography">Biography</a>
    </nav>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        
        <div class="tab character" data-group="primary" data-tab="character">
            <section class="character-main-section">

                <section class="defenses">
                    <div class="armorslots">
                        <label>Armor Slots</label>
                        <div class="values">
                            <div class="resource-group">
                                <input type="number" name="system.defenses.armor-slots.value"
                                    value="{{systemData.defenses.armor-slots.value}}" />
                                <a class="trait-effects">Used</a>
                            </div>
                            <div class="resource-group">
                                <input type="number" name="system.defenses.armor-slots.max"
                                    value="{{systemData.defenses.armor-slots.max}}" />
                                <a class="trait-effects">Max</a>
                            </div>
                        </div>
                    </div>
                    <div class="defense" data-trait="armor">
                        <input type="number" name="system.defenses.armor.value"
                            value="{{systemData.defenses.armor.value}}" />
                        <label for="system.defenses.armor.value">Armor</label>
                    </div>
                    <div class="defense" data-trait="evasion">
                        <input type="number" name="system.defenses.evasion.value"
                            value="{{systemData.defenses.evasion.value}}" />
                        <label for="system.defenses.evasion.value">Evasion</label>
                    </div>
                    <div class="armorslots">
                        <!-- Reusing armorslots for threshold for styling -->
                        <label>threshold</label>
                        <div class="values">
                            <div class="resource-group">
                                <input type="number" name="system.threshold.major"
                                    value="{{systemData.threshold.major}}" />
                                <a class="trait-effects">Major</a>
                            </div>
                            <div class="resource-group">
                                <input type="number" name="system.threshold.severe"
                                    value="{{systemData.threshold.severe}}" />
                                <a class="trait-effects">Severe</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="traits">
                    <div class="trait" data-trait="agility">
                        <div class="trait-label-wrapper">
                            <label for="system.agility.value">Agility</label>
                        </div>
                        <input type="number" name="system.agility.value" value="{{systemData.agility.value}}" />
                        <div class="trait-effects">
                            <a>Sprint</a>
                            <a>Dodge</a>
                            <a>Leap</a>
                        </div>
                    </div>
                    <div class="trait" data-trait="strength">
                        <div class="trait-label-wrapper">
                            <label for="system.strength.value">Strength</label>
                        </div>
                        <input type="number" name="system.strength.value" value="{{systemData.strength.value}}" />
                        <div class="trait-effects">
                            <a>Lift</a>
                            <a>Smash</a>
                            <a>Grapple</a>
                        </div>
                    </div>
                    <div class="trait" data-trait="finesse">
                        <div class="trait-label-wrapper">
                            <label for="system.finesse.value">Finesse</label>
                        </div>
                        <input type="number" name="system.finesse.value" value="{{systemData.finesse.value}}" />
                        <div class="trait-effects">
                            <a>Control</a>
                            <a>Hide</a>
                            <a>Tinker</a>
                        </div>
                    </div>
                    <div class="trait" data-trait="instinct">
                        <div class="trait-label-wrapper">
                            <label for="system.instinct.value">Instinct</label>
                        </div>
                        <input type="number" name="system.instinct.value" value="{{systemData.instinct.value}}" />
                        <div class="trait-effects">
                            <a>Perceive</a>
                            <a>Sense</a>
                            <a>Navigate</a>
                        </div>
                    </div>
                    <div class="trait" data-trait="presence">
                        <div class="trait-label-wrapper">
                            <label for="system.presence.value">Presence</label>
                        </div>
                        <input type="number" name="system.presence.value" value="{{systemData.presence.value}}" />
                        <div class="trait-effects">
                            <a>Charm</a>
                            <a>Perform</a>
                            <a>Deceive</a>
                        </div>
                    </div>
                    <div class="trait" data-trait="knowledge">
                        <div class="trait-label-wrapper">
                            <label for="system.knowledge.value">Knowledge</label>
                        </div>
                        <input type="number" name="system.knowledge.value" value="{{systemData.knowledge.value}}" />
                        <div class="trait-effects">
                            <a>Recall</a>
                            <a>Analyze</a>
                            <a>Comprehend</a>
                        </div>
                    </div>
                </section>

                <div class="experience-group">
                    <div class="experience-row click-rollable-group">
                        <div class="experience-row-column">
                            <div class="exp-level"><input type="number" name="system.experience.1level" value="{{systemData.experience.1level}}" placeholder="1" /></div>
                            <a class="trait-effects">Level</a>  
                        </div>
                        <div class="experience-row-column-2">
                            <input class="click-rollable-name" name="system.experience.1Name" type="text"
                                value="{{systemData.experience.1Name}}" placeholder="Experience" />
                        </div>
                        <div class="experience-row-column">
                            <input class="click-rollable-modifier" type="number" name="system.experience.1Mod"
                                value="{{systemData.experience.1Mod}}" />
                        </div>
                    </div>
                    <div class="experience-row click-rollable-group">
                        <div class="experience-row-column">
                            <div class="exp-level"><input type="number" name="system.experience.2level" value="{{systemData.experience.2level}}" placeholder="1"/></div>
                            <a class="trait-effects">Level</a>
                        </div>
                        <div class="experience-row-column-2">
                            <input class="click-rollable-name" name="system.experience.2Name" type="text" value="{{systemData.experience.2Name}}" placeholder="Experience"/>
                        </div>
                        <div class="experience-row-column">
                            <input class="click-rollable-modifier"type="number" name="system.experience.2Mod" value="{{systemData.experience.2Mod}}"/>
                        </div>
                    </div>
                    <div class="experience-row click-rollable-group">
                        <div class="experience-row-column">
                            <div class="exp-level"><input type="number" name="system.experience.5level" value="{{systemData.experience.5level}}" placeholder="2"/></div>
                            <a class="trait-effects">Level</a>
                        </div>
                        <div class="experience-row-column-2">
                            <input class="click-rollable-name" name="system.experience.5Name" type="text" value="{{systemData.experience.5Name}}" placeholder="Experience"/>
                        </div>
                        <div class="experience-row-column">
                            <input class="click-rollable-modifier"type="number" name="system.experience.5Mod" value="{{systemData.experience.5Mod}}"/>
                        </div>
                    </div>
                    <div class="experience-row click-rollable-group">
                        <div class="experience-row-column">
                            <div class="exp-level"><input type="number" name="system.experience.8level" value="{{systemData.experience.8level}}" placeholder="5"/></div>
                            <a class="trait-effects">Level</a>
                        </div>
                        <div class="experience-row-column-2">
                            <input class="click-rollable-name" name="system.experience.8Name" type="text" value="{{systemData.experience.8Name}}" placeholder="Experience"/>
                        </div>
                        <div class="experience-row-column">
                            <input class="click-rollable-modifier"type="number" name="system.experience.8Mod" value="{{systemData.experience.8Mod}}"/>
                        </div>
                    </div>
                    <div class="experience-row click-rollable-group">
                        <div class="experience-row-column">
                            <div class="exp-level"><input type="number" name="system.experience.11level" value="{{systemData.experience.11level}}" placeholder="8"/></div>
                            <a class="trait-effects">Level</a>
                        </div>
                        <div class="experience-row-column-2">
                            <input class="click-rollable-name" name="system.experience.1Name2" type="text"
                                value="{{systemData.experience.1Name2}}" placeholder="Experience" />
                        </div>
                        <div class="experience-row-column">
                            <input class="click-rollable-modifier" type="number" name="system.experience.1Mod2"
                                value="{{systemData.experience.1Mod2}}" />
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="tab biography" data-group="primary" data-tab="biography">
            <div class="tab-title">Biography</div>

            <section class="character-main-section">                
                <div class="character-details">
                    <div class="char-detail-item">
                        <label>Age</label>
                        <input type="text" name="system.age" value="{{systemData.age}}" />
                    </div>
                    <div class="char-detail-item">
                        <label>Pronouns</label>
                        <input type="text" name="system.pronouns" value="{{systemData.pronouns}}" />
                    </div>
                    <div class="char-detail-item">
                        <label>Residence</label>
                        <input type="text" name="system.residence" value="{{systemData.residence}}" />
                    </div>
                    <div class="char-detail-item">
                        <label>Nationality</label>
                        <input type="text" name="system.nationality" value="{{systemData.nationality}}" />
                    </div>
                </div>

                {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
            </section>
        </div>

        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <div class="tab-title">Equipment</div>

            {{!-- Weapon Tab --}}
            <div class="weapons">
                <div class="weapon-group">
                    <div class="weapon-row">
                        <label class="weapon-label">Primary Weapon</label>
                        <div class="weapon-box click-rollable-group basic-rollable-group">
                            <div class="weapon-box-inner">
                                <div class="weapon-infobox-first">
                                    <input class="weapon-field basic-rollable-name click-rollable-name"
                                        name="system.weapon-main.name" type="text"
                                        value="{{systemData.weapon-main.name}}" placeholder="Weapon" />
                                        <div class="textarea-container">
                                            <input class="trait-effects resize-ta" name="system.weapon-main.description"
                                                placeholder="Weapon Traits Here"
                                                value="{{systemData.weapon-main.description}}" />
                                        </div>
                                </div>
                                <div class="weapon-roller-box">
                                    <div class="weapon-infobox">
                                        <input class="weapon-to-hit click-rollable-modifier"
                                            name="system.weapon-main.to-hit" type="number"
                                            value="{{systemData.weapon-main.to-hit}}" placeholder="2" />
                                        <a class="trait-effects click-rollable">Modifier</a>
                                    </div>
                                    <div class="weapon-infobox">
                                        <input class="weapon-damage basic-rollable-value"
                                            name="system.weapon-main.damage" type="text"
                                            value="{{systemData.weapon-main.damage}}" placeholder="1d8" />
                                        <a class="trait-effects basic-rollable">Damage</a>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>

                    <div class="weapon-row">
                        <label class="weapon-label">Secondary Weapon</label>
                        <div class="weapon-box click-rollable-group basic-rollable-group">
                            <div class="weapon-box-inner">
                                <div class="weapon-infobox-first">
                                    <input class="weapon-field basic-rollable-name click-rollable-name"
                                        name="system.weapon-off.name" type="text"
                                        value="{{systemData.weapon-off.name}}" placeholder="Weapon" />
                                        <div class="textarea-container">
                                            <input class="trait-effects resize-ta" name="system.weapon-off.description"
                                                placeholder="Weapon Traits Here"
                                                value="{{systemData.weapon-off.description}}" />
                                        </div>
                                </div>
                                <div class="weapon-roller-box">
                                    <div class="weapon-infobox">
                                        <input class="weapon-to-hit click-rollable-modifier"
                                            name="system.weapon-off.to-hit" type="number"
                                            value="{{systemData.weapon-off.to-hit}}" placeholder="2" />
                                        <a class="trait-effects click-rollable">Modifier</a>
                                    </div>
                                    <div class="weapon-infobox">
                                        <input class="weapon-damage basic-rollable-value"
                                            name="system.weapon-off.damage" type="text"
                                            value="{{systemData.weapon-off.damage}}" placeholder="1d8" />
                                        <a class="trait-effects basic-rollable">Damage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Owned Inventory Tab --}}
            <div class="inventory">
                <div class="tab-category">Worn
                    <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create-item"
                        data-type="worn">
                        <i class="fas fa-plus"></i> Add Item
                    </a>
                </div>
                <ol class="item-list" data-item-type="worn">
                    {{#each data.items as |item id|}}
                    {{#if (eq item.type "worn")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}</h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>

                <div class="tab-category">Backpack
                    <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create-item"
                        data-type="inventory">
                        <i class="fas fa-plus"></i> Add Item
                    </a>
                </div>
                <ol class="item-list" data-item-type="inventory">
                    {{#each data.items as |item id|}}
                    {{#if (eq item.type "inventory")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}</h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="tab loadout" data-group="primary" data-tab="loadout">
            {{!-- Owned Items Tab --}}
            <div class="features">
                <div class="tab-title">Loadout</div>
                <div class="tab-category">Domains
                    <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create-domain"
                        data-type="domain">
                        <i class="fas fa-plus"></i> Add Domain
                    </a>
                </div>
                <ol class="item-list" data-item-type="domain">
                    {{#each data.items as |item id|}}
                    {{#if (eq item.type "domain")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                             <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}</h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" title="Send to Vault" data-action="send-to-vault"><i
                                        class="fas fa-arrow-right"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>

                <div class="tab-category">Abilities
                    <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create"
                        data-type="item">
                        <i class="fas fa-plus"></i> Add Ability
                    </a>
                </div>
                <ol class="item-list" data-item-type="item">
                    {{#each data.items as |item id|}}
                    {{#if (eq item.type "item")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}</h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>

                <div class="tab-category">Vault
                    <div class="vault-controls">
                        <a class="item-control" title="{{ localize 'SIMPLE.ItemCreate' }}" data-action="create-item"
                            data-type="vault">
                            <i class="fas fa-plus"></i> Add Item
                        </a>
                        <a class="item-control vault-toggle" title="Toggle Vault"><i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
                <ol class="item-list" data-item-type="vault" style="display: none;">
                    {{#each data.items as |item id|}}
                    {{#if (eq item.type "vault")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="item-main-row">
                            <div class="item-top-row">
                                <img class="item-control" data-action="edit" src="{{item.img}}" title="{{item.name}}"
                                    width="30" height="30" />
                                <h4 class="item-name" data-action="toggle-description">{{item.name}}</h4>
                            </div>
                            <div class="item-controls">
                                <a class="item-control" title="Send to Domain" data-action="send-to-domain"><i
                                    class="fas fa-arrow-left"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemEdit' }}" data-action="edit"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'SIMPLE.ItemDelete' }}" data-action="delete"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>        
        </div>
    </section>
</form>
    